body {
    background: linear-gradient(#f2dac4, #ffffff);
}

.logo {
    height: 6em;
    padding: 0.7em;
    width: 80px;
    height: 80px;
    margin: 0;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

footer {
  margin-top: auto;
}
