.airports-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-element {
        list-style-type: none;
    }

    &-link {
        margin: 15px;
        text-decoration: none;
    }
}

.losts {
    height: 100%;
}